body {
  margin: 0;
}

section {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}
section article {
  width: 980px;
  height: 500px;
}
.heading {
  text-align: center;
}
.heading span {
  color: crimson;
  font-size: 24px;
}
.heading h2 {
  font-size: 30px;
  margin-top: 10px;
}
.heading h2 em {
  font-style: normal;
  position: relative;
}

.heading h2 em:after {
  position: absolute;
  content: url(./images/logo-kakao.png);
  top: -25px;
  right: -30px;
}
.content {}
.content > div {
  width: 50%;
  height: 400px;
  float: left;
  box-sizing: border-box;
}
.accordion {}
.title {
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
  transition: 0.3s;
}

.title:after {
  position: absolute;
  content: '\f105';
  font-family: fontawesome;
  right: 10px;
  top: 8px;
  transition: 0.3s;
}

.title:hover:after {
  transform: rotate(90deg);
  color: orange;
}

.title:hover,
.title.active {
  background-color: #203049;
  color: #fff;
}
.desc {
  padding: 5px;
  display: none;
}

.desc.active {
  display: block;
}
.image img {
  transition: 0.3s;
}